@model IEnumerable<ProjetoPET.Models.Adocao>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    @foreach (var item in Model)
    {
        var photoPath = "~/images/LojasPhotos/" + (item.Photo ?? "imagem.png");
        <style>
        </style>

        <div class="col-md-6 form-group ">

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4" style="margin:auto">
                        <img src="@photoPath" class="imagem_Adocao" asp-append-version="true" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Nome)</h5>
                            <p class="card-text">
                                <i class="fas fa-map-marker-alt"></i>
                                <a id="endereco" onclick="pinar(this)">
                                    @Html.DisplayFor(modelItem => item.Endereco),@Html.DisplayFor(modelItem => item.Numero),@Html.DisplayFor(modelItem => item.Raca)
                                </a>
                            </p>
                            <p class="card-text"><i class="fas fa-phone"></i>@Html.DisplayFor(modelItem => item.Telefone)</p>
                            <p>
                                <i class="fas fa-envelope"></i>  @Html.DisplayFor(modelItem => item.Telefone)
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</div>
