@model ProjetoPET.Models.Lojas

@{
    ViewData["Title"] = "Details";
     var photoPath = "~/images/LojasPhotos/" + (Model.ImagePath ?? "imagem.png");
}

<h2>Details</h2>

<div>
    <h4>Lojas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <img src="@photoPath" width="200" height="200" asp-append-version="true" />

            @Html.DisplayNameFor(model => model.NomeLoja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeLoja)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNPj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNPj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-info" asp-action="Index">Voltar a listagem</a>
</div>
