@model IEnumerable<ProjetoPET.ViewModel.LojaViewModel>

@{
    ViewData["Title"] = "Index";

}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="~/css/pao_com_geleia.css" rel="stylesheet" />
<h2>Index</h2>

<p>
    <a asp-action="Create">Cadastrar nova Loja</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        var photoPath = "~/images/LojasPhotos/" + (item.ImagePath ?? "imagem.png");

        <style>
            .imagem_loja {
                width: 100%;
                height: 100%;
            }
        </style>

        <div class="col-md-6 form-group ">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="circular--landscape " style="margin:auto">
                        <img src="@photoPath" asp-append-version="true" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Opções
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Edit</a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="dropdowntem">Delete</a>
                                </div>
                            </div>

                            <h3> @Html.DisplayFor(modelItem => item.NomeLoja)</h3>
                            <br />
                            <i class="fas fa-map-marker-alt">
                                <a id="endereco" onclick="pinar(this)">
                                    @Html.DisplayFor(modelItem => item.Endereco),@Html.DisplayFor(modelItem => item.Numero),@Html.DisplayFor(modelItem => item.Cidade)
                                </a>
                            </i>
                            <br /> <i class="fas fa-phone">@Html.DisplayFor(modelItem => item.Telefone)</i>
                            <br />
                            <i class="fas fa-envelope">@Html.DisplayFor(modelItem => item.Email)</i>
                            <button type="button" class="btn btn-primary btn-sm" onclick='pinar("@item.Endereco,@item.Numero.ToString(),@item.Cidade")'>
                                Visualizar Localização
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ExemploModalCentralizado">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="TituloModalCentralizado">@Html.DisplayFor(modelItem => item.Id)</h5>
                    </div>
                    <div class="modal-body">
                        <div id="map_canvas" style="width: 95%; height: 432px"></div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>

                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA8hwz5MoE8hs1FwRnJVMhcTQZZVGp9iw&libraries=places&callback=initAutocomplete" async defer></script>

<script>

</script>
