@model ProjetoPET.Models.Eventos

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Eventos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataHoraInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataHoraInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataHoraFim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataHoraFim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.UpdatedData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedData)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a class="btn btn-info" asp-action="Index">Voltar a listagem</a>
    </form>
</div>
